CREATE DATABASE SistemaProduccion;
GO
USE SistemaProduccion;

CREATE TABLE Productos(
    Id INT PRIMARY KEY IDENTITY(1,1),
    Nombre NVARCHAR(100),
    Cantidad INT,
    Precio DECIMAL(10,2)
);
